
        #outterfooter {
            background: #14010a;
            padding: 0 30px;
            padding-top: 60px;
            font-size: 11px;
            line-height: 1.4em;
            color: #e6e6e6;
        }
        
        #outterfooter h1 {
            line-height: 1.4em;
        }
        
        .footer {
            display: flex;
            width: 90%;
            margin: auto;
            justify-content: space-between;
        }
        
        .one {
            justify-content: space-around;
            width: 20%;
            height: 300px;
        }
        
        #social {
            display: flex;
            margin-top: 24px;
        }
        
        #social>div {
            width: 30px;
            height: 30px;
            background-color: #504a49;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 13px;
            cursor: pointer;
        }
        
        #social>div>svg {
            height: 15px;
            fill: white;
            
        }
        
        .two {
            display: flex;
            flex-direction: column;
            height: 300px;
            width: 23%;
            line-height: 1.5;
        }
        
        .two>form {
            margin-top: 23px;
        }
        
        .two input {
            background-color: black;
            border: none;
            padding: 7px;
            color: white;
            font-size: 19px;
            margin-top: 9px;
            margin-bottom: 5px;
        }
        
        .two input:focus {
            outline: 1px solid #2ba89f;
        }
        
        .two p {
            color: #818181;
            font-size: 10px;
        }
        
        .two button {
            color: white;
            background-color: #2ba89f;
            padding: 9px;
            display: block;
            width: 80px;
            border-radius: 3px;
            cursor: pointer;
            border: none;
            margin-top: 6px;
        }
        
        .three {
            width: 13%;
            line-height: 2.2em;
            font-size: 18px;
        }
        
        .four {
            width: 25%;
        }
        
        .four img {
            height: 49px;
        }
        
        #email {
            color: #2ba89f;
            margin-top: 12px;
            margin-bottom: 32px;
        }
        
        hr {
            opacity: .2;
        }
        
        @media all and (min-width:575px) and (max-width:1001px) {
        
            .nav {
                flex-direction: column;
                margin: auto;
                height: auto;
            }
        
            .nav>div {
                margin: auto;
            }
        
            .nav>div img {
                height: 40px;
                margin-bottom: 23px;
            }
        
            #cards {
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: auto;
                margin: auto;
                width: 90%;
            }
        
            .card {
                width: 90%;
                height: auto;
                margin-bottom: 0px;
            }
        
            .twocards {
                flex-direction: column;
                justify-content: center;
            }
        
            .onecard {
                margin: auto;
                width: 90%;
                margin-bottom: 23px;
                padding: 19px;
        
            }
        
            .invest-cards {
                flex-direction: column;
            }
        
            .invest-cards img {
                width: 100%;
        
            }
        
            .footer {
                flex-direction: column;
                align-items: center;
            }
        
            .one,
            .two,
            .three,
            .four {
                width: 90%;
                height: auto;
                margin: auto;
                margin-bottom: 32px;
            }
        }
        
        
        @media all and (max-width:574px) {
        
            .nav {
        
                flex-direction: column;
                margin: auto;
                height: auto;
            }
        
            .nav>div {
                flex-direction: column;
                margin: auto;
            }
        
            .nav>div>div {
                margin-bottom: 6px;
            }
        
            .nav>div img {
                height: 40px;
                margin-bottom: 23px;
            }
        
            #cards {
                flex-direction: column;
                align-items: center;
                width: 90%;
                height: auto;
                margin: auto;
                width: 90%;
            }
        
            .card {
                width: 90%;
                height: auto;
                margin-bottom: 0px;
            }
        
            .twocards {
                flex-direction: column;
                justify-content: center;
            }
        
            .onecard {
                margin: auto;
                width: 90%;
                margin-bottom: 23px;
                height: auto;
                padding: 19px;
        
            }
        
            .invest-cards {
                flex-direction: column;
            }
        
            .invest-cards img {
                width: 100%;
            }
        
            .heading {
                flex-direction: column;
                align-items: flex-start;
            }
        
            .heading>button {
                margin-top: 12px;
                margin-bottom: 12px;
            }
        
            .content-moreinfo {
                flex-direction: column;
            }
        
            .content-moreinfo>div {
                margin-bottom: 10px;
            }

            
        
            .footer {
                flex-direction: column;
                align-items: center;
            }
        
            .one,
            .two,
            .three,
            .four {
                width: 90%;
                height: auto;
                margin: auto;
                margin-bottom: 32px;
            }
        }