

  #TopInterval{
    padding-top: 168px ;
    display: flex ; 
    flex-direction: row;
    font-size: 30px ;
  
  }
  #showImg{
    height: 400px ;
    width: 98.5%  ;
    
  }
  #TopInterval>button{
   background-color:#ff6186;
   color: black;
   border-color:#ff6186 ;
  }
  #TopInterval>button:hover{
    cursor: pointer;
    background-color: black ;
    color: #ff6186;
  }
  .headings>span{
    color: red ;
    height: 20px ;
    margin-bottom: 20px ;
}
.headings{
  justify-content: center;
  font-size: large;
  display: flex ;
  flex-direction: row ;
  text-align: center;
  gap: 10px ;
  margin-top: 30px;
  background-color: rgb(255, 221, 244);
  margin-left: 40%;
  height: 20px ;
  padding: 10px ;
  width: 255px ;
  border-radius: 3px ;
}
#bestSlr{
   
    background-image: url("https://png.pngtree.com/back_origin_pic/03/55/28/348ae6d58d9e64f6efbe63fe167eb1f7.jpg");
    background-repeat: no-repeat ;
    height: 500px ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}

#outterBestSellCards{
display: flex;
align-items: center;
width: 90%;
margin: auto;
}

.arrow{
    width: 0px;
    height: 0px;
    background-color: white;
    box-sizing: border-box;
    margin: 23px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow>svg{
    fill: #fc2779;
}
#outterBestSellCards:hover .arrow{
    width: 40px;
    height: 40px;
    background-color: white;
}

#bestSellCards{
    /* border: 1px solid white; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 200px; */
}

.bestSellCardsItem{
    width: 23%;
    border: 2px solid black;
    text-align: center;
    line-height: 1.7;
    background-color: white;
    border-radius: 9px;

    
}

.bestSellCardsItem p{
    font-size: 14px;
}

.bestSellCardsItem img{
    width: 80%;
    height: 200px;
    /* object-fit: contain; */
    display: block;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
}

.bestSellCardsItem>div:nth-child(4){
    /* border: 3px solid red; */
    height: 80px;
    /* background-color: #ff6186; */

}
#heart-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#heart-icon>div{
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#heart-icon>div svg{
    display: block;
    padding: 7px;
    fill: black;
    
}
#heart-icon>button{
    padding: 11px;
    border-radius: 9px;
    cursor: pointer;
    background-color: #806868;
    color: white;
}

#hotdeals , #toppics , #cosmicblog , #explore{
  display: flex ;
  flex-direction: column; 
  gap: 35px ;
}
#hotdeals>div:nth-child(2)>img ,#toppics>div:nth-child(2)>img , #cosmicblog>div:nth-child(2)>img {
    height: 310px ;
    border-radius: 5px ;
}
#explore>div:nth-child(2)>img{
    height: 200px;
    border-radius: 10px ;
}
#hotdeals>div:nth-child(2) , #toppics>div:nth-child(2) ,#cosmicblog>div:nth-child(2),#explore>div:nth-child(2) {
     justify-content: center;
     display: flex ;
     flex-direction: row ;
     gap: 10px;
}
#explore>div:nth-child(2){
    gap: 70px;
}

#justin , #buynow , #gifting , #super , #Skincarebasic , #marchstation{
    height:  500px  ;
    background-color:aliceblue ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}
#taglineSec , #refer , #midInterval , #this{
 display: flex ; 
 flex-direction: column;
 justify-content: center;
 gap: 25px ;
 margin: 40px ;
}
#taglineSec>img , #refer>img , #midInterval>img , #this img{
   
    border-radius: 15px;
}
#hotdeals>div:nth-child(2)>img:hover , #toppics>div:nth-child(2)>img:hover , #showImgmid:hover   , #refer>img:hover ,#taglineSec>img:hover , #this img:hover ,#cosmicblog>div:nth-child(2)>img:hover ,#explore>div:nth-child(2)>img:hover{
      cursor: pointer;
      box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
      
}
#explore>div:nth-child(2)>img:hover{
    height: 202px ;
}
#showImgmid{
    margin-top: 25px;
    width: 100%;
}
#this div:nth-child(2){
      display: flex; 
      flex-direction: row;
}
#this img{
    height: 400px;

}
#this img:hover{
    height: 401px;
}


#email{
    text-align: center;
    width: 55%;
    padding: 50px;
    margin: auto;
    background-image: url("https://www.harrisons1863.com/wp-content/uploads/95102_1-274x274.jpg");
    background-repeat: 2 ;
}
#email>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 23px;

}
.email-stroke{
    width: 20%;
    height: 2px;
    background-color: red;
}
#email-box{
    height: 27px;
}
#email-box>input{
    width: 80%;
    height: 100%;
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
    font-size: 21px;
    border: 1px solid red;
    background-color: rgb(228, 228, 228);
}
#email-box>input:focus{
    border: none;
    outline: none;
}
#email-box>button{
    width: 20%;
    height: 151%;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
    font-size: 21px;
    border: 1px solid red;
    background-color: #ffdae3;
}
#email-box>button:hover{
    cursor: pointer;
    background-color: #ff6186 ;
    color: white;
}
#outterfooter div div div:hover , #outterfooter div div h2:hover{
    color: #ff6186;
    cursor: pointer;
}
#outterfooter div div h2{
    color: white;
}
