
/* 

#NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
    z-index: 100;
}

#navbar{
    display: flex ; 
    flex-direction: row ;
    height: 80px ;
    gap: 14px;
    background-color: #F7BBC9;
    align-items: center ;
}

#navbar>a>img{
    height: 80px ;
    width: 250px;
}
#navbar>a>img:hover{
   height: 81px ;
   cursor: pointer;
}

#navbar>button{
    
    width:50px ;
    align-items: center ;
    height: 35px ;
    border-color: black ;
    border-radius: 10px ;

}
#navbar>button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#navbar>button > img , #navbar>#RightIcons>img , #navbar>#Login>img {
    height: 30px ;
}
#Login{
    display: flex ;
    flex-direction: row ;
    margin-left: 18%;
    width: 170px ;
    justify-content: center;
}
#Login>img {
  
   margin-right: 5px;
}
#RightIcons{
    margin-left: 1%;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
  }
 
  *{
    margin: 0 ;
    padding: 0  ;
 }
#navFilters{
   
    height: 30px ;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
    z-index: inherit ;

}
#navFilters>ul{
    display: inline-flex ;
    list-style: none ;
   
    background-color: #F7BBC9 ;
    width: 100%;

}
#navFilters>ul>li{
  padding: 15px ;
  margin: 15px ;
  width: 130px;
  margin-left: 20px ;
}
#navFilters>ul>li:hover{
    background-color: #ff6186;
    color: white;
    cursor: pointer;
}
#navFilters>ul>li>img{
    height: 25px ;
    margin-right: 10px;
}
.subManu-make {
display: none ;
}
#navFilters>ul>li:hover .subManu-make  {

gap: 5px ;
display: block ;
position: absolute ;
margin-top: 15px ;
margin-left: -15px ;
background-color: black;
}
#navFilters>ul>li:hover .subManu-make ul{
display: block ;
margin: 10px ;

}
#navFilters>ul>li:hover .subManu-make ul li{
width: 150px ;
padding: 15px ;
border-bottom: 1px double rgb(255, 255, 255);
color: rgb(200, 200, 200);
text-align: left;
background: transparent ;
}
#navFilters>ul>li:hover .subManu-make>ul>li:hover{
color: #ff6186;
}
#navFilters>ul>li:hover .subManu-make ul li:last-child{
border-bottom: none;
}


*/
/* #NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
    background-color: #f5c7d2;
} */

#navbar input{
    font-size: 17px;
    height: 35px ;
    width: 450px ;
    border: 1px solid black ;
    border-radius: 10px ;
    box-shadow: rgb(225, 225, 225) 0px -15px 15px -15px inset;
}
#navbar button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border: 1px solid rgb(255, 255, 255) ;
    cursor: pointer;
  }
  #RightIcons>img:hover{
    box-shadow: rgba(255, 105, 200, 0.4) 0px 5px, rgba(255, 86, 193, 0.3) 0px 10px, rgba(255, 73, 188, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(255, 66, 186, 0.05) 0px 25px;
  }
  #TopInterval{
    padding-top: 168px ;
    display: flex ; 
    flex-direction: row;
    font-size: 30px ;
  
  }
  #showImg{
    height: 400px ;
    width: 100%  ;
    
  }

  #TopInterval{
    
    width: 100%;
    /* height: 300px; */
  }

  .swiper{
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper img{
    width: 100%;
    object-fit: contain;
  }

  .swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: white;
  }

  .swiper .swiper-pagination-bullet-active{
    background: white;
  }


  #TopInterval button{
   background-color:#ff6186;
   color: black;
   border-color:#ff6186 ;
  }
  #TopInterval button:hover{
    cursor: pointer;
    background-color: black ;
    color: #ff6186;
  }
  .headings>span{
    color: red ;
    height: 20px ;
    margin-bottom: 20px ;
}
.headings{
    /* width: 25%; */
    font-size: large;
    display: flex ;
    justify-content: center;
  text-align: center;
  margin-top: 30px;
  background-color: rgb(255, 221, 244);
  height: 20px ;
  margin: auto;
  padding: 10px 60px ;
  border-radius: 3px ;
}
#bestSlr{
   
    background-image: url("https://png.pngtree.com/back_origin_pic/03/55/28/348ae6d58d9e64f6efbe63fe167eb1f7.jpg");
    background-repeat: no-repeat ;
    height: 500px ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}

.styleOutterBestSellCards{
display: flex;
align-items: center;
width: 90%;
margin: auto;
}

.arrow{
    width: 0px;
    height: 0px;
    background-color: white;
    box-sizing: border-box;
    margin: 23px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow>svg{
    fill: #fc2779;
}
.styleOutterBestSellCards:hover .arrow{
    width: 40px;
    height: 40px;
    background-color: white;
}

.styleBestSellCards{
    /* border: 1px solid white; */
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 200px; */
}

.bestSellCardsItem{
    width: 23%;
    border: 2px solid black;
    text-align: center;
    line-height: 1.7;
    background-color: white;
    border-radius: 9px;

    
}

.bestSellCardsItem p{
    font-size: 14px;
}

.bestSellCardsItem img{
    width: 80%;
    height: 200px;
    /* object-fit: contain; */
    display: block;
    margin: auto;
    border-radius: 0px 0px 8px 8px;
}

.bestSellCardsItem>div:nth-child(4){
    /* border: 3px solid red; */
    height: 80px;
    /* background-color: #ff6186; */

}
.heart-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heart-icon>div{
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.heart-icon>div svg{
    display: block;
    padding: 7px;
    fill: black;
    
}
.heart-icon>button{
    padding: 11px;
    border-radius: 9px;
    cursor: pointer;
    background-color: #806868;
    color: white;
}

#hotdeals , #toppics , #cosmicblog , #explore{
  display: flex ;
  flex-direction: column; 
  gap: 35px ;
  margin-top: 30px;
}
#explore{
    margin-top: 50px ;
}
#hotdeals>div:nth-child(2) a>img ,#toppics>div:nth-child(2) a>img , #cosmicblog>div:nth-child(2) a>img {
    height: 310px ;
    border-radius: 5px ;
}
#explore>div:nth-child(2){
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;


}
#explore>div:nth-child(2)>div{
    width: 24%;
    border-radius: 10px ;
    text-align: center;
}

#explore>div:nth-child(2)>div>img{
    width: 90%;
    transition: width .4s;
    border-radius: 12px;
    
}

#explore>div:nth-child(2)>div>img:hover{
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#hotdeals>div:nth-child(2) , #toppics>div:nth-child(2) ,#cosmicblog>div:nth-child(2) {
     justify-content: center;
     display: flex ;
     flex-direction: row ;
     gap: 10px;
}

#justin , #buynow , #gifting , #super , #Skincarebasic , #marchstation{
    height:  500px  ;
    background-color:aliceblue ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}
#taglineSec , #refer , #midInterval , #this{
 display: flex ; 
 flex-direction: column;
 justify-content: center;
 gap: 25px ;
 margin: 40px ;
}
#taglineSec>iframe , #refer>img , #midInterval>img , #this img{
   
    border-radius: 15px;
}
#taglineSec>div:nth-child(2){
height: 450px;
/* margin: auto; */

text-align: center;
}
#taglineSec iframe {
    height: 400px;
    width: 88%;
    border-radius: 12px;
    margin: auto;
    transition: box-shadow .4s;
}

#taglineSec iframe:hover {
    box-shadow: rgba(0, 0, 0, 0.75) 4px 9px 15px;
}
#hotdeals>div:nth-child(2) a>img:hover , #toppics>div:nth-child(2) a>img:hover , #showImgmid:hover   , #refer>img:hover ,#taglineSec>iframe:hover , #this img:hover ,#cosmicblog>div:nth-child(2) a>img:hover ,#explore>div:nth-child(2)>img:hover{
      cursor: pointer;
      box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
      
}
#showImgmid{
    margin-top: 25px;
    width: 100%;
}
#this div:nth-child(2){
      display: flex; 
      /* margin: auto; */
      text-align: center;
      justify-content: space-around;
      /* align-items: center; */
      /* height: 300px; */
}
#this div:nth-child(2)>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 400px;
    /* border: 1px solid red; */
}
#this div:nth-child(2)>div>img{
    width: 94%;
    transition: width .4s;
}
#this div:nth-child(2)>div>img:hover{
    width: 97%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#email{
    text-align: center;
    width: 70%;
    padding: 50px;
    margin: auto;
    background-image: url("https://www.harrisons1863.com/wp-content/uploads/95102_1-274x274.jpg");
    background-repeat: 2 ;
}
#email>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 23px;

}
.email-stroke{
    width: 20%;
    height: 2px;
    background-color: red;
}
#email-box{
    height: 27px;
}
#email-box>input{
    width: 80%;
    height: 100%;
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
    font-size: 21px;
    border: 1px solid red;
    background-color: rgb(228, 228, 228);
}
#email-box>input:focus{
    border: none;
    outline: none;
}
#email-box>button{
    width: 20%;
    height: 151%;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
    font-size: 21px;
    border: 1px solid red;
    background-color: #ffdae3;
}
#email-box>button:hover{
    cursor: pointer;
    background-color: #ff6186 ;
    color: white;
}
#outterfooter div div div:hover , #outterfooter div div h2:hover{
    color: #ff6186;
    cursor: pointer;
}
#outterfooter div div h2{
    color: white;
}
#navFilters ul li a{
    text-decoration: none ;
    color: black;
}
.bestSellCardsItem:hover{
    cursor: pointer;
}
