/* 

#NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
    z-index: 100;
}

#navbar{
    display: flex ; 
    flex-direction: row ;
    height: 80px ;
    gap: 14px;
    background-color: #F7BBC9;
    align-items: center ;
}

#navbar>a>img{
    height: 80px ;
    width: 250px;
}
#navbar>a>img:hover{
   height: 81px ;
   cursor: pointer;
}

#navbar>button{
    
    width:50px ;
    align-items: center ;
    height: 35px ;
    border-color: black ;
    border-radius: 10px ;

}
#navbar>button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#navbar>button > img , #navbar>#RightIcons>img , #navbar>#Login>img {
    height: 30px ;
}
#Login{
    display: flex ;
    flex-direction: row ;
    margin-left: 18%;
    width: 170px ;
    justify-content: center;
}
#Login>img {
  
   margin-right: 5px;
}
#RightIcons{
    margin-left: 1%;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
  }
 
  *{
    margin: 0 ;
    padding: 0  ;
 }
#navFilters{
   
    height: 30px ;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
    z-index: inherit ;

}
#navFilters>ul{
    display: inline-flex ;
    list-style: none ;
   
    background-color: #F7BBC9 ;
    width: 100%;

}
#navFilters>ul>li{
  padding: 15px ;
  margin: 15px ;
  width: 130px;
  margin-left: 20px ;
}
#navFilters>ul>li:hover{
    background-color: #ff6186;
    color: white;
    cursor: pointer;
}
#navFilters>ul>li>img{
    height: 25px ;
    margin-right: 10px;
}
.subManu-make {
display: none ;
}
#navFilters>ul>li:hover .subManu-make  {

gap: 5px ;
display: block ;
position: absolute ;
margin-top: 15px ;
margin-left: -15px ;
background-color: black;
}
#navFilters>ul>li:hover .subManu-make ul{
display: block ;
margin: 10px ;

}
#navFilters>ul>li:hover .subManu-make ul li{
width: 150px ;
padding: 15px ;
border-bottom: 1px double rgb(255, 255, 255);
color: rgb(200, 200, 200);
text-align: left;
background: transparent ;
}
#navFilters>ul>li:hover .subManu-make>ul>li:hover{
color: #ff6186;
}
#navFilters>ul>li:hover .subManu-make ul li:last-child{
border-bottom: none;
}


*/
/* #NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
    background-color: #f5c7d2;
} */

#navbar input{
    font-size: 17px;
    height: 35px ;
    width: 450px ;
    border: 1px solid black ;
    border-radius: 10px ;
    box-shadow: rgb(225, 225, 225) 0px -15px 15px -15px inset;
}
#navbar button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border: 1px solid rgb(255, 255, 255) ;
    cursor: pointer;
  }
  #RightIcons>img:hover{
    box-shadow: rgba(255, 105, 200, 0.4) 0px 5px, rgba(255, 86, 193, 0.3) 0px 10px, rgba(255, 73, 188, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(255, 66, 186, 0.05) 0px 25px;
  }
  #TopInterval{
    padding-top: 168px ;
    display: flex ; 
    flex-direction: row;
    font-size: 30px ;
  
  }
  #showImg{
    height: 400px ;
    width: 100%  ;
    
  }
  #TopInterval button{
   background-color:#ff6186;
   color: black;
   border-color:#ff6186 ;
  }
  #TopInterval button:hover{
    cursor: pointer;
    background-color: black ;
    color: #ff6186;
  }
  .headings>span{
    color: red ;
    height: 20px ;
    margin-bottom: 20px ;
}
.headings{
  justify-content: center;
  font-size: large;
  display: flex ;
  flex-direction: row ;
  text-align: center;
  gap: 10px ;
  margin-top: 30px;
  background-color: rgb(255, 221, 244);
  margin-left: 40%;
  height: 20px ;
  padding: 10px ;
  width: 255px ;
  border-radius: 3px ;
}
#bestSlr{
   
    background-image: url("https://png.pngtree.com/back_origin_pic/03/55/28/348ae6d58d9e64f6efbe63fe167eb1f7.jpg");
    background-repeat: no-repeat ;
    height: 500px ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}


#hotdeals , #toppics , #cosmicblog , #explore{
  display: flex ;
  flex-direction: column; 
  gap: 35px ;
}
#explore{
    margin-bottom: 50px ;
}
#hotdeals>div:nth-child(2) a>img ,#toppics>div:nth-child(2) a>img , #cosmicblog>div:nth-child(2) a>img {
    height: 310px ;
    border-radius: 5px ;
}
#explore>div:nth-child(2)>img{
    height: 200px;
    border-radius: 10px ;
}
#hotdeals>div:nth-child(2) , #toppics>div:nth-child(2) ,#cosmicblog>div:nth-child(2),#explore>div:nth-child(2) {
     justify-content: center;
     display: flex ;
     flex-direction: row ;
     gap: 10px;
}
#explore>div:nth-child(2){
    gap: 70px;
}

#justin , #buynow , #gifting , #super , #Skincarebasic , #marchstation{
    height:  500px  ;
    background-color:aliceblue ;
    display: flex;
    flex-direction: column;
    margin-top: 4% ;
}
#taglineSec , #refer , #midInterval , #this{
 display: flex ; 
 flex-direction: column;
 justify-content: center;
 gap: 25px ;
 margin: 40px ;
}
#taglineSec>iframe , #refer>img , #midInterval>img , #this img{
   
    border-radius: 15px;
}
#taglineSec>iframe {
    height: 400px;
    width: 90%;
    margin: auto;
}
#hotdeals>div:nth-child(2)>img:hover , #toppics>div:nth-child(2) a>img:hover , #showImgmid:hover   , #refer>img:hover ,#taglineSec>iframe:hover , #this img:hover ,#cosmicblog>div:nth-child(2) a>img:hover ,#explore>div:nth-child(2)>img:hover{
      cursor: pointer;
      box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
      
}
#explore>div:nth-child(2)>img:hover{
    height: 202px ;
}
#showImgmid{
    margin-top: 25px;
    width: 100%;
}
#this div:nth-child(2){
      display: flex; 
      flex-direction: row;
}
#this img{
    height: 400px;

}
#this img:hover{
    height: 401px;
}


#email{
    text-align: center;
    width: 70%;
    padding: 50px;
    margin: auto;
    background-image: url("https://www.harrisons1863.com/wp-content/uploads/95102_1-274x274.jpg");
    background-repeat: 2 ;
}
#email>div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 23px;

}
.email-stroke{
    width: 20%;
    height: 2px;
    background-color: red;
}
#email-box{
    height: 27px;
}
#email-box>input{
    width: 80%;
    height: 100%;
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
    font-size: 21px;
    border: 1px solid red;
    background-color: rgb(228, 228, 228);
}
#email-box>input:focus{
    border: none;
    outline: none;
}
#email-box>button{
    width: 20%;
    height: 151%;
    padding: 6px;
    border-radius: 0px 5px 5px 0px;
    font-size: 21px;
    border: 1px solid red;
    background-color: #ffdae3;
}
#email-box>button:hover{
    cursor: pointer;
    background-color: #ff6186 ;
    color: white;
}
#outterfooter div div div:hover , #outterfooter div div h2:hover{
    color: #ff6186;
    cursor: pointer;
}
#outterfooter div div h2{
    color: white;
}
