/* toggle feature start */
#toggle-button{
    display: flex;
}
#toggle-button>div{
    display: flex;
    align-items: center;
    width: 50%;
}

/* first toggle */
#exclusive-store{
    display: none;
}

#exclusive-store+label{
    position: relative;
    width: 42px;
    height: 17px;
    background: gray;
    display: inline-block;
    border-radius: 50px;
    transition: background 150ms linear;
}

#exclusive-store+label::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 21px ;
    height: 21px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: white;
    border-radius: 50px;
    transform: translateY(-50%);
    transition: left 150ms linear;
}

#exclusive-store:checked + label{
    /* background: rgb(132, 59, 59); */
    background:#feb4d0
    
}
#exclusive-store:checked + label::before{
    content: "";
    left: 20px;
    background: #fc2779
}


/* second toggle */

#shop-in-shop{
    display: none;
}

#shop-in-shop+label{
    position: relative;
    width: 42px;
    height: 17px;
    background: gray;
    display: inline-block;
    border-radius: 50px;
    transition: background 150ms linear;
}

#shop-in-shop+label::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 21px ;
    height: 21px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 50px;
    transform: translateY(-50%);
    transition: left 150ms linear;
}

#shop-in-shop:checked + label{
    background:#feb4d0
}
#shop-in-shop:checked + label::before{
    content: "";
    left: 20px;
    background: #fc2779
}




/* toggle feature end */