
body{
    background-color: rgb(247, 243, 237);
    font-family: sans-serif;
}

/* -------navbar-------- */


 #NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
}

#navbar{
    display: flex ; 
    flex-direction: row ;
    height: 80px ;
    gap: 14px;
    background-color: #F7BBC9;
    align-items: center ;
}

#navbar>img{
    height: 80px ;
    width: 250px;
}
#navbar>img:hover{
   height: 81px ;
   cursor: pointer;
}
#navbar>input{
    font-size: 17px;
    margin-left: 50px;
    height: 35px ;
    width: 450px ;
    border-color: black ;
    border-radius: 10px ;
    box-shadow: rgb(183, 189, 195) 0px -15px 15px -15px inset;
}
#navbar>button{
    
    width:50px ;
    align-items: center ;
    height: 35px ;
    border-color: black ;
    border-radius: 10px ;

}
#navbar>button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#navbar>button > img , #navbar>#RightIcons>img , #navbar>#Login>img {
    height: 30px ;
}
#Login{
    display: flex ;
    flex-direction: row ;
    margin-left: 18%;
    width: 170px ;
    justify-content: center;
}
#Login>img {
   /* margin-top: 9px ; */
   margin-right: 5px;
}
#RightIcons{
    margin-left: 1%;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
  }
 
  *{
    margin: 0 ;
    padding: 0  ;
 }
#navFilters{
   
    height: 30px ;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;

}
#navFilters>ul{
    display: inline-flex ;
    list-style: none ;
   
    background-color: #F7BBC9 ;
    width: 100%;

}
#navFilters>ul>li{
  padding: 15px ;
  margin: 15px ;
  width: 130px;
  margin-left: 20px ;
}
#navFilters>ul>li:hover{
    background-color: #ff6186;
    color: white;
    cursor: pointer;
}
#navFilters>ul>li>img{
    height: 25px ;
    margin-right: 10px;
}
.subManu-make {
display: none ;
}
#navFilters>ul>li:hover .subManu-make  {

gap: 5px ;
display: block ;
position: absolute ;
margin-top: 15px ;
margin-left: -15px ;
background-color: black;
}
#navFilters>ul>li:hover .subManu-make ul{
display: block ;
margin: 10px ;

}
#navFilters>ul>li:hover .subManu-make ul li{
width: 150px ;
padding: 15px ;
border-bottom: 1px double rgb(255, 255, 255);
color: rgb(223, 222, 222);
text-align: left;
background: transparent ;
}
#navFilters>ul>li:hover .subManu-make>ul>li:hover{
color: #ff6186;
}
#navFilters>ul>li:hover .subManu-make ul li:last-child{
border-bottom: none;
}




/* --------mini navbar below main navbar-------- */



.mini-nav{
    height:40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 17px;
    margin-top: 170px;
    margin-bottom: 20px;
}
.mini-nav > div:nth-child(1)>a{
    text-decoration: none;
    color: gray;
}
.mini-nav > div:nth-child(3)>a{
 text-decoration: none;
 font-weight: bold;
}


/* --------empty cart image container--------- */


.empty_cart_box{
    width:95%;
    height:auto;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.inner-empty-cart-box{
width:30%;
height:100%;
margin:auto;
text-align: center;
color: grey;
}

.inner-empty-cart-box > img{
    width:80%;
}

.inner-empty-cart-box > button{
    border:3px solid #f2ccd6;
    background-color: white;
    border-radius: 10px;
    padding: 13px 20px;
    font-weight :bold;
    margin:15px 0 15px 0;
    font-size: 15px;
}

.inner-empty-cart-box > button > a{
    text-decoration: none;
    color:black;
}

.inner-empty-cart-box > button:hover{
    background-color: #FBDAE2;
    cursor: pointer;
}

/* ----------bestseller box-------- */

.bestseller{
    margin-top: 40px;
}

.bestseller_heading{
    display: flex;
    margin:auto;
}
.bestseller_heading > p{
    text-align: center;
}
.bestseller_heading >p:nth-child(1){
    color:#fc2779;
    margin-left: 43%;
    font-size: 20px;
}
.bestseller_heading >p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}
.bestseller_heading >p:nth-child(3){
    color:#fc2779;
    font-size: 20px;
}



/* ----------footer-------- */


#outterfooter {
    background: #262626;
    padding: 0 30px;
    padding-top: 60px;
    font-size: 11px;
    line-height: 1.4em;
    color: #e6e6e6;
}

#outterfooter h1 {
    line-height: 1.4em;
}

.footer {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.one {
    justify-content: space-around;
    width: 20%;
    height: 300px;
}

#social {
    display: flex;
    margin-top: 24px;
}

#social>div {
    width: 30px;
    height: 30px;
    background-color: #504a49;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    cursor: pointer;
}

#social>div>svg {
    height: 15px;
    fill: white;
    
}

.two {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 23%;
    line-height: 1.5;
}

.two>form {
    margin-top: 23px;
}

.two input {
    background-color: black;
    border: none;
    padding: 7px;
    color: white;
    font-size: 19px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.two input:focus {
    outline: 1px solid #2ba89f;
}

.two p {
    color: #818181;
    font-size: 10px;
}

.two button {
    color: white;
    background-color: #2ba89f;
    padding: 9px;
    display: block;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    margin-top: 6px;
}

.three {
    width: 13%;
    line-height: 2.2em;
    font-size: 18px;
}

.four {
    width: 25%;
}

.four img {
    height: 49px;
}

#email {
    color: #2ba89f;
    margin-top: 12px;
    margin-bottom: 12px;
}

hr {
    opacity: .2;
}

@media all and (min-width:575px) and (max-width:1001px) {

    .nav {
        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        margin: auto;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;

    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}


@media all and (max-width:574px) {

    .nav {

        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        flex-direction: column;
        margin: auto;
    }

    .nav>div>div {
        margin-bottom: 6px;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        height: auto;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;
    }

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading>button {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .content-moreinfo {
        flex-direction: column;
    }

    .content-moreinfo>div {
        margin-bottom: 10px;
    }

    

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}

