body{
    background-color: rgb(247, 243, 237);
    font-family: sans-serif;
}

/* ------navbar------ */


#NAVBARFix{
    position: fixed ;
    top: 0 ;
    width: 100%;
}

#navbar{
    display: flex ; 
    flex-direction: row ;
    height: 80px ;
    gap: 14px;
    background-color: #F7BBC9;
    align-items: center ;
}

#navbar>img{
    height: 80px ;
    width: 250px;
}
#navbar>img:hover{
   height: 81px ;
   cursor: pointer;
}
#navbar>input{
    font-size: 17px;
    margin-left: 50px;
    height: 35px ;
    width: 450px ;
    border-color: black ;
    border-radius: 10px ;
    box-shadow: rgb(183, 189, 195) 0px -15px 15px -15px inset;
}
#navbar>button{
    
    width:50px ;
    align-items: center ;
    height: 35px ;
    border-color: black ;
    border-radius: 10px ;

}
#navbar>button:hover{
    cursor: pointer; 
    background-color: #ff6186;
    border-color: white ;
}
#navbar>button > img , #navbar>#RightIcons>img , #navbar>#Login>img {
    height: 30px ;
}
#Login{
    display: flex ;
    flex-direction: row ;
    margin-left: 18%;
    width: 170px ;
    justify-content: center;
}
#Login>img {
   /* margin-top: 9px ; */
   margin-right: 5px;
}
#RightIcons{
    margin-left: 1%;
}
#RightIcons>img:hover ,#Login:hover{
    background-color:#ff6186 ;
    color: white;
    border-radius: 5px ;
    cursor: pointer;
  }
 
  *{
    margin: 0 ;
    padding: 0  ;
 }
#navFilters{
   
    height: 30px ;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;

}
#navFilters>ul{
    display: inline-flex ;
    list-style: none ;
   
    background-color: #F7BBC9 ;
    width: 100%;

}
#navFilters>ul>li{
  padding: 15px ;
  margin: 15px ;
  width: 130px;
  margin-left: 20px ;
}
#navFilters>ul>li:hover{
    background-color: #ff6186;
    color: white;
    cursor: pointer;
}
#navFilters>ul>li>img{
    height: 25px ;
    margin-right: 10px;
}
.subManu-make {
display: none ;
}
#navFilters>ul>li:hover .subManu-make  {

gap: 5px ;
display: block ;
position: absolute ;
margin-top: 15px ;
margin-left: -15px ;
background-color: black;
}
#navFilters>ul>li:hover .subManu-make ul{
display: block ;
margin: 10px ;

}
#navFilters>ul>li:hover .subManu-make ul li{
width: 150px ;
padding: 15px ;
border-bottom: 1px double rgb(255, 255, 255);
color: rgb(223, 222, 222);
text-align: left;
background: transparent ;
}
#navFilters>ul>li:hover .subManu-make>ul>li:hover{
color: #ff6186;
}
#navFilters>ul>li:hover .subManu-make ul li:last-child{
border-bottom: none;
}


   /* ------mini-navbar------- */
.mini-nav{
    height:40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top:170px;
}
.mini-nav > div:nth-child(1)>a{
    text-decoration: none;
    color: gray;
}
.mini-nav > div:nth-child(3)>a{
 text-decoration: none;
 font-weight: bold;
}


/* -----body----- */

.main_content{
    width:95%;
    height:auto;
    margin:auto;
    border-radius: 15px;
    background-color: white;
    padding:15px 25px 15px 25px;
    display: flex;
}



/* -------LEFT PART OF MAIN CONTENT-------- */

.left_main_content{
    width:50%;
   
}


.bonus_offer{
    width:96%;
    height:auto;
    background-color: rgb(247, 243, 237);
    border-radius: 15px;
    margin-bottom: 100px;
}

.bonus_offer >div{
    width:100%;
    height:100px;
    /* border:1px solid red; */
    display: flex;
    border-radius: 15px;
}
.bonus_offer > div:first-child{
    height:70px;
}

.dropdown{
    display: flex;
    cursor: pointer;
}

.dropdown > div:first-child{
    width:75%;
    margin-left: 40px;
    margin-top: 25px;
    font-weight:100px;
    font-size: 20px;
    color:rgb(47, 47, 47);
}
.dropdown > div:last-child{
    width:25%;
    text-align: end;
    margin-right:40px;
    margin-top: 25px;
    font-size: 13px;
    color:#ff6186;
}
.dropdown_item{
    border-bottom:1px dashed grey;
}

.dropdown_item_img{
    width:5%;
    padding: 20px 10px;
    border-radius: 15px;
    margin-left: 20px;
}

.dropdown_description{
    margin:20px 40px 0 20px;
}

.dropdown_description >p{
    font-size: 13px;
}

.old_price{
    text-decoration: line-through;
    font-size: 10px;
    color:grey;
}
.new_price{
font-size: 12px;
font-weight: bold;
}

.dropdown_item > button{
    margin:30px 0px 30px 50px;
    padding: 10px 30px;
    border-radius: 15px;
    border:1px solid rgb(228, 31, 31);
    cursor: pointer;
    align-items: end;
}

.dropdown_item > button:hover{
    background-color: #F7BBC9;
}


/* --------RIGHT PART OF MAIN CONTENT-------- */

.right_main_content{
    width:50%;
    height:100%;
    /* border:1px solid rgb(228, 31, 31) */
}

#apply_coupan{
    width:98%;
    height:auto;
    border-radius: 10px;
}

#apply_coupan >h3{
    color:rgb(47, 47, 47);
    margin-left: 5px;
}
#apply_coupan >div{
   margin-top: 5px;
   padding-top: 10px;
   text-align: center;
   border-radius: 10px;
   border:1px dashed grey;
}
#apply_coupan >div > input{
  width:90%;
  margin:auto;
   padding:10px 10px;
   font-size: 15px;
   border:1px solid pink;
   border-radius: 10px;
}
#apply_coupan >div > button{
    width:18%;
    padding:10px 30px;
    margin:10px 0 5px 0;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    border:2px solid #F7BBC9;
}

#apply_coupan >div > button:hover{
    background-color: #F7BBC9;
}


/* ------price details sections------ */

.price_detail{
    color:rgb(47, 47, 47);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#price_details_box{
    border:1px dashed grey;
    border-radius: 10px;
}

.price_details_upper{
    display: flex;
    padding:5px 5px 10px 5px;
    border-bottom:1px dashed grey;
    color:grey;
    font-size: 13px;
}
.price_details_upper > div:first-child{
    width:50%;
    height:auto;
    line-height:25px;
    /* border:1px solid red; */
}
.price_details_upper > div:last-child{
    width:50%;
    height:auto;
    /* border:1px solid red; */
    text-align: end;
    line-height: 25px;
}
.price_details_lower{
    display: flex;
    padding:5px 5px 5px 5px;
}

.price_details_lower > h3:first-child{
    width:50%;
    height:25px;
    align-items: center;
    /* border:1px solid red; */
}
.price_details_lower > h3:last-child{
    width:50%;
    height:25px;
    text-align: end;
    /* border:1px solid red; */
}


/* ---------missed something---------- */




/* -----bottom fixed navbar----- */




.bottomnavbar{
    position: fixed;
    bottom: 0;
    width:100%;
    height:100px;
    background-color: #faf6f7;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    border:1px solid rgb(189, 185, 185);
    display: flex;
}

.bottomnavbar>div{
width:50%;
height:100%;
}
.bottomnavbar>div:first-child{
 line-height: 25px;
 padding: 25px;
 padding-left: 40px;
 color:grey;
}


.bottomnavbar>div:last-child{
 text-align: end;
}

.bottomnavbar >div >button{
    font-size: 20px;
    padding:10px 100px;
    background-color: #f7f5f5;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 70px;
    cursor: pointer;
    background-color: #F7BBC9;
    border:1px solid black;
    font-weight: bold;
}
.bottomnavbar >div >button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}











.cart_summary_heading{
    color:rgb(47, 47, 47);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.cart_detail{
    width:95%;
    border:1px dashed grey;
    border-radius: 10px;
    background-color: white;
    padding:5px 5px 5px 5px;
    margin-bottom: 30px;
}
.cart_detail >div{
    width:97%;
    display: flex;
    padding:10px;
    border-bottom:1px dashed black;
}
.cart_detail >div:last-child{
    width:97%;
    display: flex;
    padding:10px;
    border:0;
}
.cart_detail >div >img{
    width:10%;
    height:5%;
}
.cart_detail >div >i{
  margin-top: 25px;
  cursor: pointer;
}
.cart_detail >div >div{
    width:60%;
    color:rgb(106, 106, 106);
    margin-left: 25px;
    font-size: 13px;
    padding:10px;
    line-height: 25px;
}
.cart_detail >div >div:nth-child(2) >p:last-child{
    font-weight: bold;
    color:black;
}
.cart_detail >div >div:nth-child(2)>p:last-child >span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 10px;
    color:rgb(106, 106, 106);
}
.cart_detail >div >div:last-child{
    width:10%;
    height:20px;
    border:1px solid grey;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-evenly;
}
.cart_detail >div >div:last-child >span:first-child{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.cart_detail >div >div:last-child >span:last-child{
    font-size: 20px;
    cursor: pointer;
}


/* -----------address---------- */

.address{
    color:rgb(47, 47, 47);
    margin-top: 20px;
}

.address >div:first-child{
    display: flex;
    justify-content: space-between;
}
.address >div:first-child >h3{
   color:rgb(50, 50, 50);
}
.address >div:first-child >p{
   color:red;
   cursor: pointer;
}
.address >div:last-child{
    width:100%;
    height:auto;
    border:1px solid grey;
    margin-top: 10px;
    border-radius: 10px;
   line-height: 20px;
}
.address >div:last-child >p{
    padding: 0px 15px 0 15px;
    color: grey;
    font-size: 15px;
}
.address >div:last-child >p:first-child{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.address >div:last-child >select{
    width:100%;
    background-color: #faeef1;
    font-size: 15px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    border:0;
    margin-top: 15px;
}



/* ----------footer-------- */


#outterfooter {
    background: #262626;
    padding: 0 30px;
    padding-top: 60px;
    font-size: 11px;
    line-height: 1.4em;
    color: #e6e6e6;
    margin-bottom: 100px;
}

#outterfooter h1 {
    line-height: 1.4em;
}

.footer {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.one {
    justify-content: space-around;
    width: 20%;
    height: 300px;
}

#social {
    display: flex;
    margin-top: 24px;
}

#social>div {
    width: 30px;
    height: 30px;
    background-color: #504a49;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    cursor: pointer;
}

#social>div>svg {
    height: 15px;
    fill: white;
    
}

.two {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 23%;
    line-height: 1.5;
}

.two>form {
    margin-top: 23px;
}

.two input {
    background-color: black;
    border: none;
    padding: 7px;
    color: white;
    font-size: 19px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.two input:focus {
    outline: 1px solid #2ba89f;
}

.two p {
    color: #818181;
    font-size: 10px;
}

.two button {
    color: white;
    background-color: #2ba89f;
    padding: 9px;
    display: block;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    margin-top: 6px;
}

.three {
    width: 13%;
    line-height: 2.2em;
    font-size: 18px;
}

.four {
    width: 25%;
}

.four img {
    height: 49px;
}

#email {
    color: #2ba89f;
    margin-top: 12px;
    margin-bottom: 12px;
}

hr {
    opacity: .2;
}

@media all and (min-width:575px) and (max-width:1001px) {

    .nav {
        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        margin: auto;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;

    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}


@media all and (max-width:574px) {

    .nav {

        flex-direction: column;
        margin: auto;
        height: auto;
    }

    .nav>div {
        flex-direction: column;
        margin: auto;
    }

    .nav>div>div {
        margin-bottom: 6px;
    }

    .nav>div img {
        height: 40px;
        margin-bottom: 23px;
    }

    #cards {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: auto;
        margin: auto;
        width: 90%;
    }

    .card {
        width: 90%;
        height: auto;
        margin-bottom: 0px;
    }

    .twocards {
        flex-direction: column;
        justify-content: center;
    }

    .onecard {
        margin: auto;
        width: 90%;
        margin-bottom: 23px;
        height: auto;
        padding: 19px;

    }

    .invest-cards {
        flex-direction: column;
    }

    .invest-cards img {
        width: 100%;
    }

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading>button {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .content-moreinfo {
        flex-direction: column;
    }

    .content-moreinfo>div {
        margin-bottom: 10px;
    }

    

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .one,
    .two,
    .three,
    .four {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 32px;
    }
}

